# Python cache files
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/
*.env
.venv

# Django secret keys and config files
*.sqlite3
*.log
.env

# OS files
.DS_Store

# IDE/editor config
.vscode/
.idea/

# Static/media
/staticfiles/
/media/
